.roadmap {
  display: flex;
  flex-direction: column;
  width: 100%; /* Use full width */
  max-width: 1120px; /* Maximum width for large screens */
  margin: 0 auto;
  position: relative;
}

.phase {
  background-color: lightgrey;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--main-text-color);
  margin: 10px 0;
  box-shadow: -10px 10px 0px 0px var(--main-text-color);
  max-width: 430px;
  width: 100%;
}

.phase:nth-child(2n) {
  align-self: flex-end; /* Keep alternating left and right alignment */
}

.active {
  background-color: var(--secondary-yellow-color);
}

.inactive {
  background-color: #d5d3f7;
  color: #918fb3;
  box-shadow: -10px 10px 0px 0px #918fb3;
  border: 2px solid #918fb3;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.roadmap::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: 7px solid var(--main-text-color);
  border-radius: 5px;
  z-index: -1;
  margin: 20px 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .roadmap {
    flex-direction: column; /* Stack the phases vertically on small screens */
    padding: 10px;
  }

  .phase {
    max-width: 100%; /* Make each phase block take up full width */
    margin: 10px 0; /* Reduce margin for better spacing */
    min-height: 200px;
  }
}
