.wrapper {
  display: flex;
  align-items: start;
  margin-top: 150px;
  margin-bottom: 50px;
}

.span {
  background-color: white;
  padding: 5px 10px;
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
  font-size: 24px;
}

.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  position: relative;
  left: 5%;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .span {
    display: none;
  }
}
