.img {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  border: 5px solid var(--main-text-color);
}

.imageContainer {
  position: relative;
}

.link {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
  font-size: clamp(14px, 5vw, 24px);
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link:hover {
  text-decoration: underline;
}

.arrow {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.frameOne,
.frameTwo {
  position: absolute;
  top: 68%;
  left: 1%;
  z-index: 1;
}

.frameTwo {
  top: 23%;
  left: 86%;
}

@media (max-width: 768px) {
  .img {
    border-radius: clamp(20px, 5vw, 40px);
  }
}
