.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.title {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.elem {
  width: clamp(200px, 30%, 423px);
  height: 131px;
  background-color: var(--secondary-yellow-color);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--main-text-color);
  margin: 10px 0;
  box-shadow: -10px 10px 0px 0px var(--main-text-color);
  word-wrap: break-word;
}

.elem:nth-child(2n) {
  background-color: var(--secondary-blue-color);
}

.elem:nth-child(3n) {
  background-color: var(--secondary-green-color);
}

.elem p {
  font-size: clamp(12px, 1.5vw, 16px);
}

.link {
  font-size: 24px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 180px;
}

.linktxt {
  max-width: 471px;
  position: relative;
  display: inline-block;
}

.linktxt a {
  position: relative; /* Устанавливаем контекст для абсолютного позиционирования */
  color: var(--main-text-color);
}

@media (max-width: 768px) {
  .container {
    flex-direction: row; /* Элементы будут располагаться в один ряд */
    justify-content: space-between;
    width: 100%; /* Устанавливаем ширину контейнера на 100% */
  }
  .elem {
    width: 100%; /* Каждый элемент будет занимать всю ширину экрана */
    margin: 5px 0; /* Уменьшаем отступы для мобильных устройств */
  }
  .link {
    justify-content: center;
    text-align: center;
    margin-right: 0;
  }
}
