.hero {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  text-decoration: none;
}
.text {
  font-size: 24px;
  max-width: 487px;
  font-size: 400;
}

.blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}

.leftBlock {
  flex: 1 1 48%;
  padding-left: 20px;
}

.rightBlock {
  flex: 1 1 48%;
}

.title {
  font-size: 80px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
  line-height: 1.2;
  max-width: 595px;
}

.photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.photo::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background: radial-gradient(
    circle,
    var(--secondary-yellow-color) 20%,
    transparent 80%
  );
  border-radius: 50%;
  filter: blur(50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.tons {
  max-width: 80%;
  z-index: 0;
}

.coin {
  max-width: 70%;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  position: absolute;
}

.coin:hover {
  transform: translateY(-10px);
}

.buyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71%;
  padding: 25px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid var(--main-text-color);
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--secondary-yellow-color);
  color: var(--primary-text-color);
  gap: 10px;
  box-shadow: 0px 5px 0px 3px var(--main-text-color);
  transition: all 0.3s ease;
}

.buyButton:hover {
  justify-content: space-between;
  box-shadow: 0px 10px 0px 3px var(--main-text-color);
}

.arrow {
  width: 22px;
  height: 22px;
}

@media (max-width: 768px) {
  .buyButton {
    width: 90%;
  }

  .title {
    font-weight: 400;
    margin: 0;
  }

  .leftBlock {
    padding: 0 20px;
  }

  .text {
    text-align: center;
    font-size: 24px;
  }

  .blocks {
    flex-direction: column;
  }

  .photo::before {
    width: 80%;
    height: 80%;
  }

  .tons {
    max-width: 55%;
  }

  .coin {
    max-width: 50%;
  }

  .buyButton {
    font-size: 90%;
  }
}
