.about {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: flex-end; /* Выравниваем картинки по верхнему краю */
  gap: 20px;
  width: 100%;
}

.text {
  max-width: 564px;
  font-size: clamp(14px, 1.2vw, 18px);
}

.aboutUs {
  width: 100%;
}

.img {
  max-width: 330px;
  height: auto; /* Делаем высоту адаптивной */
  border-radius: 20px;
  object-fit: cover;
}

.bigImg {
  max-width: 680px;
  height: auto; /* Делаем высоту адаптивной */
  max-height: 550px;
  border-radius: 20px;
  object-fit: cover;
}

.aboutL {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.aboutL > :first-child {
  align-self: start;
}

.aboutR {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

/* Адаптация изображений для мобильных (≤768px) */
@media (max-width: 1077px) {
  .img {
    max-width: 100%; /* Делаем изображение шириной в 100% от контейнера */
  }

  .bigImg {
    max-width: 100%;
  }
}
