.footer {
  background-color: var(--main-footer-color);
  color: var(--main-white-color);
  margin-top: 150px;
  padding: 50px 0;
  gap: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  max-width: 1360px;
  margin: 0 auto;
}

/* Задаём размеры текста через clamp */
.title {
  display: flex;
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 600;
}

.links {
  max-width: 226px;
}

.img {
  width: 246px;
  height: 58px;
  order: 0;
  margin-bottom: 47px;
}

.span {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.adress,
.adress a {
  font-size: clamp(12px, 2.5vw, 15px);
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--main-white-color);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  order: 2; /* На десктопе – порядок 2 (появится ниже buyBlock, см. медиазапрос) */
}

.arrow {
  font-size: clamp(20px, 4vw, 24px);
}

.buy {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--secondary-yellow-color);
  box-shadow: -2px 2px 0px 0px var(--main-white-color);
  border: 0;
  margin-bottom: 150px;
}

.buyBlock {
  gap: 10px;
  display: flex;
  flex-direction: column;
  order: 2; /* На десктопе – порядок 1, чтобы на мобильном блок с кнопкой шёл сразу после логотипа */
  max-width: 167px;
  margin: 0 20px;
}

.buyBlock span {
  font-size: clamp(12px, 2.5vw, 15px);
}

.buy:hover {
  box-shadow: -2px 5px 0px 0px var(--main-white-color);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    max-width: 220px;
    align-items: center;
  }

  .title {
    justify-content: center;
  }

  .img {
    order: 0;
    margin-bottom: 35px;
  }
  .copy {
    display: none;
  }

  .buy {
    margin-bottom: 35px;
  }

  .buyBlock {
    order: 1;
    align-self: center;
  }

  .infoBlock {
    order: 2;
    text-align: center;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }
}
